.homepage-main {
	background-color: #fafafa;
	height: 100vh;
}

.header-main {
	height: 54px;
	background-color: white;
	border-bottom: 1px solid #dbdbdb;
	position: fixed;
	width: 100vw;
	display: flex;
	justify-content: center;
}

.header-section {
	width: 957px;
	justify-content: center;
	align-items: center;
}

.header-logo {
	height: 36px;
	display: flex;
	align-items: center;
}

.header-searchbar {
	display: flex;
	justify-content: center;
}

.header-actions {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.header-actions,
.header-searchbar,
.header-logo {
	padding: 0px;
}

.logo {
	height: 100%;
}

.searchbar-main {
	height: 28px;
	width: 215px;
	background-color: #fafafa;
	border-radius: 3px;
	border: solid 1px #dbdbdb;
}

.searchbar-notfocused {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	color: #8e8e8e;
	cursor: text;
}

.seachbar-input {
	height: 100%;
	width: 100%;
	font-size: 14px;
	color: #262626;
	border: 0px;
	outline: 0;
	padding: 3px 10px 3px 26px;
}

.header-actions ion-icon {
	font-size: 24px;
}

.header-actions-item {
	margin-left: 14px;
}

.header-user-profile {
	width: 27px;
	border-radius: 100%;
}

.homepage-main-content {
	display: flex;
	justify-content: center;
}
.homepage-content {
	height: 100vh;
	background-color: khaki;
	width: 957px;
	margin: 0px;
	margin-top: 50px;
}

.homepage-sidebar {
	background-color: lightcoral;
}
